@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    background-color: rgb(230, 190, 130);
    margin: 0%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
    background-color: rgb(82, 10, 10);
    padding: 1em ;
    
    .container{
        display:flex;
        place-content: space-between;
    }
}